<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eport.daemon.rule.storage.database.mapper.RuleDatabaseLoadMapper">

  <resultMap id="ruleDatabaseLoadMap" type="com.eport.daemon.rule.storage.database.entity.RuleDatabaseLoadEntity">
        <id property="id" column="id"/>
        <result property="ruleSetKey" column="rule_set_key"/>
        <result property="ruleContent" column="rule_content"/>
        <result property="ruleDatabaseKey" column="rule_database_key"/>
        <result property="base64" column="base64"/>
        <result property="remarks" column="remarks"/>
        <result property="hasEnable" column="has_enable"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>