
/* 仅适用于webkit的浏览器 */
/* 定义滚动条和滚动条轨道的宽度 */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /*定义滚动条 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #dddddd;
  }
  
  /*定义滚动条滑动轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  
  /* 鼠标放上去效果 */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
  }

